{% extends 'flatpages/default.html' %}
{% block title %}
Новости
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
   <h1>Все новости</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>-->
<!--    <h3>{% current_time '%b %d %Y' %}</h3> -->

<!--       {% if news %} -->
       <table> <!-- Начинаем описывать таблицу -->
           <tr> <!-- Добавляем строку -->
               <td> <!-- Добавляем ячейку в строку -->
                   Название
               </td>
               <td> <!-- Добавляем ещё одну ячейку в строку и так далее -->
                   Дата публикации
               </td>
               <td>
                   Описание
               </td>
           </tr>
       </table>

 <!--   {% else %} -->
       <h2>Пока нет новостей</h2>
  <!--  {% endif %} -->
{% endblock content %}